
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 100px);
    gap: 10px;
}

.hijo{
    border: solid black;
}

#foto{
    grid-column: span 1;
    grid-row: span  2;
    
}
#encabezado{
    grid-column: span 3;
    grid-row: span 1;
    background-color: red;
    text-align: center;
    
}

#descripcion{
    grid-column: span 3;
    grid-row: span  1;
}

#estudio, #pasatiempo, #contacto{
    grid-column: span 4;
    grid-row: span 1;
}

#primaria, #segundaria, #tecnico, #universidad {
    grid-column: span 3;
    grid-row: span 1;
}
#logo_primaria, #logo_segundaria, #logo_tecnico, #logo_universidad{
    grid-column: span 1;
    grid-row: span 1;
}
#futbol, #musica, #tecnologia, #videojuegos{
    grid-column: span 1;
    grid-row: span 1;
}


