body{
    background-color: rgb(190, 181, 181, 70%);
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10, 150px);
    grid-template-rows: 150px 150px 40px 150px 150px 150px 150px 40px 150px 60px;
    gap: 3px;
    width: 70%;
    margin: 0 auto;
    
}

.hijo{
    border: solid black;
    text-align: center;
    padding: 0;
    margin: 0;
}

#foto{
    grid-column: span 1;
    grid-row: span  2;
    background-image: url(../img/base.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 99%;
    height: 99%;
    transition-duration: 0.5s; 
    background-color: rgb(0, 0, 0, 95%) ;
}

#foto:hover{
    content: url(../img/BrayamFigueroa.jpg);
}

#encabezado{
    grid-column: span 3;
    grid-row: span 1;
    background-color: rgb(255, 0, 0);
}

h1{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font: bolder;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 800;
    font-weight: 100px;
    text-align: center;
    text-shadow: 
    1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

nav ul li{
    display: inline;
    position: static;
    margin: 40px;
}
nav ul li a{
   color: black;
   text-align: center;
   text-decoration: none;
   font-family: fantasy;
}

#descripcion{
    grid-column: span 3;
    grid-row: span  1;
    
    font: small-caps 100%/200% serif;
    font-weight: 1000;

}

#estudio, #pasatiempo, #contacto{
    grid-column: span 4;
    grid-row: span 1;
}

#primaria, #segundaria, #tecnico, #universidad {
    grid-column: span 3;
    grid-row: span 1;
}
#logo_primaria, #logo_segundaria, #logo_tecnico, #logo_universidad{
    grid-column: span 1;
    grid-row: span 1;
}
#futbol, #musica, #tecnologia, #videojuegos{
    grid-column: span 1;
    grid-row: span 1;
}


h2{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font: small-caps 100%/200% serif;
    text-align: center;
}

h3{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font: small-caps 100%/200% serif;
    text-align: center;
}

#futbol{
    background-image: url(../img/Futbol.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    background-color: rgb(0, 0, 0, 95%) ;
}

#musica{
    background-image: url(../img/Musica.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    background-color: rgb(0, 0, 0, 95%) ;
}



#tecnologia{
    background-image: url(../img/Tecnologia.jpg);
    background-color: aliceblue;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0, 95%) ;
} 



#videojuegos{
    background-image: url(../img/VideoJuegos.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: auto; 
    background-color: rgb(0, 0, 0, 95%) ;
}

#logo_primaria{
    background-image: url(../img/ciudadela.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: auto; 
    background-color: rgb(0, 0, 0, 95%) ;
}

#logo_segundaria{

    background-image: url(../img/industrial.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: auto; 
    background-color: rgb(0, 0, 0, 95%) ;
}

#logo_tecnico{
    background-image: url(../img/edutec.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0, 95%) ;
}

#logo_universidad{
    background-image: url(../img/amazonia.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0, 95%) ;
}




html {
    scroll-behavior: smooth;
}